 <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.digikala.com">
                  DigiKala
                </a>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Developed by
            <a href="https://digikala.com" target="_blank">RAC Team</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>