

<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}


  {% include 'base/base.html' %}





</head>

<body class="">
<!-- navbar and sidebar -->
{% include 'base/sidenav.html' %}
      <!-- End Navbar -->

<!-- header for 4 box -->
      {% include 'base/boxes.html' %}



<!-- Adds from other -->

    <div class="container-fluid mt-auto">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-white  ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-gray ls-1 mb-1"></h6>
                  <h4 class="text-dark mb-0">Risks based on Divisions </h4>

                  </ul>
                </div>
              </div>
            </div>


            <div class="card-body">
              <!-- Chart-->

             <canvas id="bar-canvas2" height="280"></canvas>


                <!-- heatmap Chart
                <script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="//www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="//www.amcharts.com/lib/4/themes/kelly.js"></script>
<div id="chartdiv" style="  width: 600px;
  height: "250";
  margin: 0 auto;"></div>
  -->


            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card shadow">

            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Total Risks</h6>
                  <h2 class="mb-0"></h2>
                </div>
              </div>
            </div>
            <div class="card-body" >
              <!-- Chart -->



          <canvas id="doughnut-canvas1"></canvas>


              </div>
            </div>
          </div>
        </div>
      </div>
<!-- End of first chart -->


 <div class="container-fluid mt-auto">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-white  ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-gray ls-1 mb-1"></h6>
                  <h4 class="text-dark mb-0">Mitigations Summary</h4>

                  </ul>
                </div>
              </div>
            </div>


            <div class="card-body">
              <!-- Chart-->

<canvas id="bar-canvas3" height="280"></canvas>


            </div>
          </div>
        </div>

        <div class="col-xl-4">



              <!-- Chart -->

          <div class="card shadow">

            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Total Mitigations</h6>
                  <h2 class="mb-0"></h2>
                </div>
              </div>
            </div>
            <div class="card-body" >
              <!-- Chart -->



          <canvas id="doughnut-canvas4"></canvas>


              </div>
            </div>
          </div>
          </div>




          </div>
        </div>


<!-- ٍEnd of second chart -->

<div class="col">
              <div class="card">
                <div class="card-header card-header-rose">
                  <h4 class="card-title">Overview</h4>
                  <p class="card-category"> </p>
                </div>
                 <div class="container-fluid mt-auto">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-white  ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-gray ls-1 mb-1"></h6>
                  <h4 class="text-dark mb-0">Risks based on Divisions </h4>

                  </ul>
                </div>
              </div>
            </div>


            <div class="card-body">
              <!-- Chart-->

             <canvas id="radar-canvas3" height="450"></canvas>





            </div>
          </div>
        </div>

       <div class="col-xl-4">



              <!-- Chart -->
              <div class="col">
              <div class="card">
                <div class="card-header card-header-rose">
                  <h4 class="card-title">Top Risks</h4>
                  <p class="card-category">High level risks of all Divisions</p>
                </div>
                <div class="card-body table-responsive" style="overflow-x:auto;">
                  <table class="table table-hover table-responsive table-sm">
                    <thead class="text-warning">
                      <th>#</th>
                      <th>Risk</th>
                    <th align="center">Division</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Fulfilment Center & Storage Capacity Risk</td>
                          <td align="center" >Operation</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Aggressive competition risk</td>
                          <td align="center">BD</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Macro economic risk</td>
                          <td align="center">Finance</td>
                      </tr>
                      <tr>
                          <tr>
                        <td>4</td>
                        <td>Distribution centers capacity risk</td>
                          <td align="center">Operation</td>
                      </tr>
                    <tr>
                          <tr>
                        <td>5</td>
                        <td>Cyber security Risk</td>
                          <td align="center">Tech</td>
                      </tr>
                    <tr>
                          <tr>
                        <td>6</td>
                        <td>Resources capacity risk ( developers- for new business product development)</td>
                          <td align="center">Tech</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>



<!-- End of first chart -->
<section id="tech">
<nav class="navbar navbar-expand-lg bg-light  " >
  <a class="navbar-brand" href="#">Divisions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link disabled" href="{% url 'dash' %}">Overview</a>
      <a class="nav-item nav-link active" href="#">Tech<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled" href="#">Marketing</a>
      <a class="nav-item nav-link disabled" href="#">Finance</a>
      <a class="nav-item nav-link disabled" href="#">CX</a>
      <a class="nav-item nav-link disabled" href="#">Cross Functional Risks</a>
      <a class="nav-item nav-link disabled" href="#">HR</a>
      <a class="nav-item nav-link disabled" href="#">BD</a>
      <a class="nav-item nav-link disabled" href="#">Commercial</a>
      <a class="nav-item nav-link disabled" href="#">Legal</a>

    </div>
  </div>
</nav>
</section>

<!-- chart for tech -->

<div class="container-fluid mt-auto">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-white  ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-gray ls-1 mb-1"></h6>
                  <h4 class="text-dark mb-0">Mitigations Summary</h4>

                  </ul>
                </div>
              </div>
            </div>


            <div class="card-body">
              <!-- Chart-->

<canvas id="bar-canvas3" height="280"></canvas>


            </div>
          </div>
        </div>

        <div class="col-xl-4">



              <!-- Chart -->

          <div class="card shadow">

            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Total Mitigations</h6>
                  <h2 class="mb-0"></h2>
                </div>
              </div>
            </div>
            <div class="card-body" >
              <!-- Chart -->



          <canvas id="doughnut-canvas4"></canvas>


              </div>
            </div>
          </div>
          </div>




          </div>
        </div>







<!-- Table 2 sortable -->



 <div class="col">
              <div class="card">
                <div class="card-header card-header-rose">
                  <h4 class="card-title">Risks Overview</h4>
                  <p class="card-category">Risk assessment of Tech Division</p>
                </div>
                  <div class="card-body table-hover">
                <table id="dtVerticalScrollExample2" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
  <thead>
    <tr>

      <th class="th-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i>  Key Risk issue
      </th>
      <th class="th-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i>  Inherent Rating
      </th>
      <th class="th-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i>  Residual Rating
      <th class="th-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i>  Target Rating
      <th class="th-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i>  Mitigations
      <th class="th-sm"><i class="fa fa-arrows-v" aria-hidden="true"></i>  Date added
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fulfilment Center & Storage Capacity Risk</td>
      <td>Operation</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>2011/04/25</td>

    </tr>
    <tr>
      <td>Aggressive competition risk</td>
      <td>BD</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>2011/07/25</td>
    </tr>
    <tr>
      <td>Macro economic risk</td>
      <td>Finance</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>2009/01/12</td>
    </tr>
    <tr>
      <td>Distribution centers capacity risk</td>
      <td>Operation</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>2012/03/29</td>
    </tr>
    <tr>
      <td>Cyber security Risk</td>
      <td>Tech</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2008/11/28</td>
    </tr>
    <tr>
      <td>Resources capacity risk ( developers- for new business product development)</td>
      <td>Tech</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2012/12/02</td>
    </tr>
    <tr>
      <td>Sellers satisfaction risk</td>
      <td>Commercial</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2012/08/06</td>
    </tr>
    <tr>
      <td>Price competitiveness risk</td>
      <td>Commercial</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2010/10/14</td>
    </tr>
    <tr>
      <td>Liquidity Risk</td>
      <td>Finance</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2009/09/15</td>
    </tr>
    <tr>
      <td>Cost and Profitability risk </td>
      <td>Finance</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2008/12/13</td>
    </tr>
    <tr>
      <td>Successors readiness time risk</td>
      <td>HR</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>2008/12/19</td>
    </tr>

  </tbody>
  <tfoot>
    <tr>
      <th>Key Risk Issue
      </th>
      <th>Inherent Rating
      </th>
      <th>Residual Rating
      </th>
         <th>Target Rating
      </th>
         <th>Mitigations
      </th>
      <th>Date added
      </th>
    </tr>
  </tfoot>
</table>
                    </div>
            </div>
          </div>


      <!-- Footer -->
{% include 'base/footer.html' %}




<!-- core javascript -->
 {% include 'base/corejs.html' %}
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
<script>

    function createChart(id, type, options) {
      var data = {
        labels: ['Very High Risks','High Risk','Medium Risk','Low Risk'],
        datasets: [
          {
            label: 'Total Risk',
            data: [2,20 ,42, 16],
            backgroundColor: [
              '#ff0000',
                '#ffc000',
              '#ffff00',
              '#00ff00'
            ]
          }
        ]
      };

      new Chart(document.getElementById(id), {
        type: type,
        data: data,
        options: options
      });
    }

    ['doughnut'].forEach(function (type) {
      createChart(type + '-canvas1', type, {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: true
        },
        plugins: {
          labels: {
            render: 'value'
          }
        }
      });
    });
  </script>

<script>

    function createChart(id, type, options) {
      var data = {labels: ['Tech', 'Financial', 'HR','BD','Commercial','Marketing','Legal','Operation','CX'],
        datasets: [
          {
            label: 'Very High Risk',
            data: [0, 0, 0,1,0,0,0,1,0],
            backgroundColor: [
              '#ff0000',
              '#ff0000',
              '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000'

            ]
          },
                      {
            label: 'High Risk',
            data: [4,5, 1,3,5,1,0,2,0],
            backgroundColor: [
              '#ffc000',
              '#ffc000',
              '#ffc000',
                '#ffc000',
                '#ffc000',
                '#ffc000',
                '#ffc000',
                '#ffc000',
                '#ffc000'

            ]
          },
            {
            label: 'Medium Risk',
            data: [4, 1, 7,2,8,4,5,11,1],
            backgroundColor: [
              '#ffff00',
              '#ffff00',
              '#ffff00',
                '#ffff00',
                '#ffff00',
                '#ffff00',
                '#ffff00',
                '#ffff00',
                '#ffff00'
            ]
          },
            {
            label: 'Low Risk',
            data: [4, 0, 4,0,2,4,0,2,0],
            backgroundColor: [
              '#00ff00',
              '#00ff00',
              '#00ff00',
                '#00ff00',
                '#00ff00',
                '#00ff00',
                '#00ff00',
                '#00ff00',
                '#00ff00',
            ]
          },

       ]
      };


      new Chart(document.getElementById(id), {
        type: type,
        data: data,
        options: options
      });
    }

    ['bar'].forEach(function (type) {
        createChart(type + '-canvas2', type, {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          labels: {
              render: 'value'
          }
        }
      });
    });
{#{#}
{#            render: false,#}
{#            fontColor: ['black', 'black','black','black','black','black','black','black'],#}
{#            precision: 0#}
{#          }#}

  </script>


<script>

    function createChart1(id, type, options) {
      var data = {labels: ['Tech', 'Financial', 'HR','BD','Commercial','Marketing','Legal','Operation'],
        datasets: [
          {
            label: 'Over Due',
            data: [2, 4, 4,1,3,2,2,4],
            backgroundColor: [
              '#ff0000',
              '#ff0000',
              '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000',
                '#ff0000'

            ]
          },
                      {
            label: 'Open',
            data: [10, 9, 15,1,8,6,2,11],
            backgroundColor: [
              '#fa7200',
              '#fa7200',
              '#fa7200',
                '#fa7200',
                '#fa7200',
                '#fa7200',
                '#fa7200',
                '#fa7200'

            ]
          },
            {
            label: 'Closed',
            data: [15, 14, 2,4,9,1,5,1],
            backgroundColor: [
              '#018320',
              '#018320',
              '#018320',
                '#018320',
                '#018320',
                '#018320',
                '#018320',
                '#018320'
            ]
          },
            {
            label: 'Total',
            data: [16, 8, 19,12,10,6,8,9],
            backgroundColor: [
              '#2c48db',
              '#2c48db',
              '#2c48db',
                '#2c48db',
                '#2c48db',
                '#2c48db',
                '#2c48db',
                '#2c48db',
            ]
          },

       ]
      };


      new Chart(document.getElementById(id), {
        type: type,
        data: data,
        options: options
      });
    }

    ['bar'].forEach(function (type) {
        createChart1(type + '-canvas3', type, {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          labels: {
              render: 'value'
          }
        }
      });
    });
{#{#}
{#            render: false,#}
{#            fontColor: ['black', 'black','black','black','black','black','black','black'],#}
{#            precision: 0#}
{#          }#}

  </script>
<script>

    function createChart2(id, type, options) {
      var data = {labels: ['Tech', 'Financial', 'HR','BD','Commercial','Marketing','Legal','Operation'],
        datasets: [
          {
            label: 'Very High Risks',
            data: [2, 4, 4,1,3,2,2,4],
              fill: true,
                    backgroundColor: 'rgba(255,99,132,0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
          },
                      {
            label: 'High Risks',
            data: [10, 9, 15,1,8,6,2,11],
            fill: true,
                   fill: true,
                    backgroundColor: 'rgba(255,192,0,0.2)',
                    borderColor: 'rgb(255,192,0)',
                    pointBackgroundColor: 'rgb(255,192,0)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255,192,0)'
          },
            {
            label: 'Medium Risks',
            data: [15, 14, 2,4,9,1,5,1],
            fill: true,
                    backgroundColor: 'rgba(255,255,0,0.2)',
                    borderColor: 'rgb(255,255,0)',
                    pointBackgroundColor: 'rgb(255,255,0)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255,255,0)'
          },
            {
            label: 'Low Risks',
            data: [16, 8, 19,12,10,6,8,9],
             fill: true,
                    backgroundColor: 'rgba(0, 255, 0, 0.2)',
                    borderColor: 'rgb(0, 255, 0)',
                    pointBackgroundColor: 'rgb(0, 255, 0)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(0, 255, 0)'
          },
            {
            label: 'Total Risks',
            data: [30,23,18,19,20,21,15,16],
             fill: true,
                    backgroundColor: 'rgb(1,68,177,0.2)',
                    borderColor: 'rgb(1,68,177)',
                    pointBackgroundColor: 'rgb(1,68,177)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(1,68,177)'
          },

       ]
      };


      new Chart(document.getElementById(id), {
        type: type,
        data: data,
        options: options
      });
    }

    ['radar'].forEach(function (type) {
        createChart2(type + '-canvas3', type, {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          labels: {
              render: 'value'
          }
        }
      });
    });
{#{#}
{#            render: false,#}
{#            fontColor: ['black', 'black','black','black','black','black','black','black'],#}
{#            precision: 0#}
{#          }#}

  </script>






<!-- Scatter Chart -->

<!-- sortable table -->
<script>
    $(document).ready(function () {
    $('#dtVerticalScrollExample').DataTable({
    "scrollY": "200px",
    "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>

<script>
    $(document).ready(function () {
    $('#dtVerticalScrollExample2').DataTable({
    "scrollY": "200px",
    "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>

    function createChart4(id, type, options) {
      var data = {
        labels: ['For Very High Risks','For High Risk','For Medium Risk','For Low Risk'],
        datasets: [
          {
            label: 'Total Risk',
            data: [3,30 ,41, 15],
            backgroundColor: [
              '#ff0000',
                '#9beae0',
              '#8dcbf8',
              '#ddbbdd'
            ]
          }
        ]
      };

      new Chart(document.getElementById(id), {
        type: type,
        data: data,
        options: options
      });
    }

    ['doughnut'].forEach(function (type) {
      createChart4(type + '-canvas4', type, {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: true
        },
        plugins: {
          labels: {
            render: 'value'
          }
        }
      });
    });
  </script>

</body>

</html>