

<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}


  {% include 'riskadd/base/base.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body class="">
<!-- navbar and sidebar -->
{% include 'indicators/base/sidenav.html' %}
      <!-- End Navbar -->

<!-- header for 4 box -->
      {% include 'base/boxes.html' %}

<!-- test html -->
<div class="col">
              <div class="card">
                <div class="card-header card-header-rose">
                  <h4 class="card-title">Report</h4>
                  <p class="card-category"> </p>
                </div>
                 <div class="container-fluid mt-auto">

                       <div class="container-fluid mt-auto">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-white  ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-gray ls-1 mb-1"></h6>
                  <h4 class="text-dark mb-0">Seller NPS Report</h4>

                  </ul>
                </div>
              </div>
            </div>


            <div class="card-body">
              <!-- Chart-->

             <canvas id="line-chart" height="200"></canvas>


            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card shadow">

            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Sellers satisfaction risk
</h6>
                  <h2 class="mb-0"></h2>
                </div>
              </div>
            </div>
            <div class="card-body" >
              <!-- Chart -->



          <p>Possibility of not having proper seller satisfaction and also unfair activities causing seller dissatisfaction. Seller churn rate increase will have several negative impacts on market share and competitive advantage of DK.
</p>


              </div>
            </div>
          </div>
        </div>
      </div>






          </div>
        </div>


        </div>
      </div>
            </div>
          </div>


<script>

   new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ['مهر 98','اسفند 98','خرداد99','تیر99','مرداد99','شهریور99','مهر99','آبان99','آذر99','دی99','اسفند99'],
    datasets: [{
        data: [24,12,6,1,2,2,6.3,12,5,2,-44],
        label: "Actual",
        borderColor: "#3e95cd",
        fill: false
      },

    ]
  },
  options: {
    title: {
      display: true,
      text: 'Seller NPS'
    }
  }
});

  </script>



      <!-- Footer -->
{% include 'base/footer.html' %}

<!-- core javascript -->
 {% include 'base/corejs.html' %}
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>



<!-- Nabaaar -->
<script src="/static/asset3/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/static/asset3/vendor/select2/select2.min.js"></script>
    <script src="/static/asset3/vendor/datepicker/moment.min.js"></script>
    <script src="/static/asset3/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/static/asset3/js/global.js"></script>
<script>
    $(document).ready(function () {
    $('#dtVerticalScrollExample').DataTable({
    "scrollY": "200px",
    "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>

<script>
    $(document).ready(function () {
    $('#dtVerticalScrollExample3').DataTable({
    "scrollY": "200px",
    "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
</body>

</html>