
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Range HeatMap</title>

    <link href="../../assets/styles.css" rel="stylesheet" />
  </head>
<SCRIPT>
    var notificationWidget;

var data = [{
    "vulnerability": "Stuxnet",
        "description": "description of this item",
        "severity": 9,
        "affects": 90
}, {
    "vulnerability": "Virus2",
        "description": "",
        "severity": 2,
        "affects": 80
}, {
    "vulnerability": "Worm3",
        "description": "",
        "severity": 9,
        "affects": 50
}, {
    "vulnerability": "Password",
        "description": "",
        "severity": 7.4,
        "affects": 10
}];

function createChart() {

    $("#chart").kendoChart({
        theme: "Bootstrap",
        chartArea: {
            background: "#fefefe"
        },
        title: {
            text: "Vulnerability Risk Heatmap",
            color: "#595959",
            font: "12pt Roboto"
        },
        legend: {
            visible: false
        },
        dataSource: {
            data: data
        },
        seriesDefaults: {
            type: "scatter"
        },
        series: [{
            xField: "affects",
            yField: "severity",
            name: "Vulnerability",
            color: "#A1D6E3",
            labels: {
                template: "#: dataItem.vulnerability #",
                font: "10px Roboto,Helvetica,sans-serif",
                visible: true,
                background: "white",
                color: "#333",
                border: {
                    width: 1,
                    color: "#999"
                }
            },
            markers: {
                visible: true,
                background: "rgba(255,255,255,0.5)",
                size: 12,
                border: {
                    width: 3,
                    color: "#555"
                }
            },
        }],
        xAxis: {
            max: 100,
            title: {
                text: "Impact",
                color: "#595959",
                font: "14px Roboto,Helvetica,sans-serif",
                visible: true
            },
            line: {
                color: "rgba(50,50,50,0.3)",
                visible: true
            },
            labels: {
                color: "#777",
                font: "10px Roboto,Helvetica,sans-serif"
            },
            majorGridLines: {
                visible: true,
                color: "rgba(50,50,50,0.3)",
                dashType: "dashDot",
                width: 0.5,
            },

        },
        yAxis: {
            min: 0,
            max: 10,
            line: {
                color: "rgba(50,50,50,0.3)",
                visible: true
            },
            labels: {
                color: "#777",
                font: "10px Roboto,Helvetica,sans-serif"
            },
            title: {
                text: "Probability",
                color: "#595959",
                font: "14px Roboto,Helvetica,sans-serif",
                visible: true
            },
            majorGridLines: {
                visible: true,
                color: "rgba(50,50,50,0.3)",
                dashType: "dashDot",
                width: 0.5,
            },

        },
        tooltip: {
            visible: true,
            background: "rgba(255,255,255,0.9)",
            color: "#333",
            border: {
              width: 2,
              color: "rgba(50,50,50,0.5)"
            },
            font: "12px Helvetica, Arial, sans-serif",
            template: "#= '<b>'  + dataItem.vulnerability + '<br />' + dataItem.description + '</b><br />Probability: ' + value.y + '<br />Impact: ' + value.x   #"
        },
        render: function(e) {
           // add plot area gradient each time the chart is rendered
           SetGradientBackground();
        },
        seriesClick: function(e) {
            if (e.originalEvent.type === "contextmenu") {
              // Disable browser context menu
              e.originalEvent.preventDefault();
            }
            else {
                var itemName = e.dataItem.vulnerability;
                var sev = e.value.y;
                var affects = e.value.x;
                var msg = "You selected the vulnerability: <strong>" + itemName + "</strong> <br /> which has a severity of <strong>" + sev + "</strong><br /> and which affects <strong>" + affects + "</strong> cyber assets.";
                console.log(msg);
                notificationWidget.show(msg, "info");
            }
        }
    });



}

function SetGradientBackground(){
    // create plotarea background
    var defs = d3.select("defs");
    var thegrad = defs.selectAll("#heatmapGrad");
    if (thegrad[0].length < 1){
        //create the gradient def if it is not there
        var grad = defs.append( 'linearGradient' )
                   .attr( 'id', 'heatmapGrad' )
                   .attr( 'x1', '0' )
                   .attr( 'x2', '1' )
                   .attr( 'y1', '1' )
                   .attr( 'y2', '0' );

        grad.append( 'stop' )
                   .attr( 'stop-color', 'rgba(0, 255, 0, 0.5)' )
                   .attr( 'offset', '1%' );
        grad.append( 'stop' )
                   .attr( 'stop-color', 'rgba(255, 255, 0, 0.5)' )
                   .attr( 'offset', '45%' );
        grad.append( 'stop' )
                   .attr( 'stop-color', 'rgba(255, 255, 0, 0.5)' )
                   .attr( 'offset', '55%' );
        grad.append( 'stop' )
                   .attr( 'stop-color', 'rgba(255, 0, 0, 0.5)' )
                   .attr( 'offset', '99%' );

    }
    //set fill of chart area to the gradient
    d3.select("#chart svg > g path:nth-child(2)").style("fill", "url(#heatmapGrad)");
}

$(function () {
    notificationWidget = $("#notification").kendoNotification({
                autoHideAfter: 10000,

            }).data("kendoNotification");

    createChart();

    //throttle the resizing
    $(window).on("resize", function () {
        kendo.resize($(".chart-wrapper"));
    });
});



</SCRIPT>
<body>
<div class="chart-wrapper">
    <div id="chart"></div>
</div>

</body>
</html>